@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
@import url('/assets/css/cssgg.css');

/* Main */

* {
	--main-color: #0b79d7;
	--light-color: hsl(160, 10%, 94%);

	--dark-color: #191e22;
	--dark-color-1: #1e2327;
	--dark-color-2: #23282c;
	--dark-color-3: #282d31;
	--dark-color-4: #2d3236;

	--success: #28804b;
	--notice: #2f5886;
	--warning: #977e16;
	--error: #7a1a18;
}

body {
	display: block;
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
	color: var(--light-color);
	background: var(--dark-color);
}

a {
	color: var(--main-color);
}

.error:not(button) {
	color: var(--error);
}

/* Generic Pages */

.centered {
	display: grid;
	place-items: center;
	height: 100%;
	text-align: center;
}

.colored {
	background: linear-gradient(169deg, #191e22 75%, rgb(11 121 215 / 8%) 80%, rgb(11 121 215 / 32%) 95%, #0b79d773 100%), var(--dark-color);
}

.title {
	font-family: 'Telex', sans-serif;
	font-size: 3em;
	color: var(--main-color);
	margin-bottom: 3rem;
}

.title.small {
	font-size: 1.75em;
	margin: 1.75rem 0rem;
}

.container > .middle,
.dashboard > middle {
	text-align: center;
}

.container > .short-description,
.dashboard > .short-description {
	width: 20rem;
}

.dashboard {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 6fr;
	height: 100%;
}

.dashboard > .sidebar {
	text-align: center;
	min-width: 10rem;
	background-color: var(--dark-color-1);
}

.dashboard > .menu {
	min-width: 10rem;
	margin: 2rem;
}

.dashboard > .sidebar > .segment {
	background-color: var(--dark-color-2);
	transition: background-color 0.2s;
	padding: 1rem 0rem;
	margin: 0.1rem 0rem;

	display: grid;
	grid-template-columns: 2fr 6fr 20%;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
}

.dashboard > .sidebar > .profile {
	background-color: var(--dark-color-3);
	padding: 1rem 1rem;
	margin: 0.1rem 0rem;

	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 1em;
	row-gap: 2em;
	align-items: center;
	justify-items: left;
	text-align: left;
}

.dashboard > .sidebar > .segment > :not(img):not(span):not(i) {
	text-align: left;
	justify-items: left;
	transition: margin-left 0.2s;
	display: inline-flexbox;
	cursor: default;
	width: 100%;
}

.dashboard > .sidebar > .segment.selected {
	background-color: var(--dark-color-4);
}

.dashboard > .sidebar > .segment:not(.selected):hover {
	background-color: var(--dark-color-3);
	transition: background-color 0.2s;
}

.dashboard > .sidebar > .segment:not(.selected):hover > :not(img):not(span):not(i) {
	margin-left: 0.6rem;
	transition: margin-left 0.2s;
}

.grid {
	display: flex;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
}

.grid > .element {
	background-color: var(--dark-color-2);
	min-width: 30em;
	place-items: center;
	text-align: center;
	border-radius: 4%;
	box-shadow: 0px 0px var(--dark-color-2);
	transition: box-shadow 0.2s;
	height: 100%;
}

.grid > .element:hover {
	box-shadow: 3px 6px var(--dark-color-3);
	transition: box-shadow 0.2s;
}

.grid > .element > .card-title {
	margin: 0.4em 0em;
	font-size: 24px;
	font-family: 'Telex', sans-serif;
	color: var(--main-color);
}

.grid > .element > .card-description {
	color: var(--light-color);
	margin: 3.5em 3.5em 1.5em 3.5em;
	font-size: 20px;
}

img#pfp {
	background-color: var(--dark-color-4);
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

/* Labels */

input {
	border: none;
	border-bottom: 1px solid var(--light-color);
	color: var(--light-color);
	appearance: none;
	background: rgba(0, 0, 0, 0);
	padding: 12px;
	width: 250px;
	font-size: 14px;
	outline: none;
	margin: 0.8rem 0rem;
	transition: filter 0.2s;
	filter: brightness(0.7);
}

input:focus {
	border-bottom: 1px solid var(--light-color);
	transition: filter 0.2s;
	filter: brightness(1);
}

input:-webkit-autofill {
	border-bottom: 1px solid var(--notice);
	transition: background-color 1s 5000s, color 1s 5000s !important;
	filter: brightness(1);
	color: var(--light-color);
}

input:not(:placeholder-shown):not(:focus):invalid {
	border-bottom: 1px solid var(--error);
	transition: filter 0.2s;
	filter: brightness(1);
}

input:not(:placeholder-shown):not(:focus):valid {
	border-bottom: 1px solid var(--success);
	transition: filter 0.2s;
	filter: brightness(1);
}

label {
	position: relative;
}

input:-webkit-autofill ~ span,
input:focus ~ span,
input:not(:placeholder-shown) ~ span,
input:not(:focus):valid ~ span {
	top: -20px;
	left: 10px;
	font-size: 12px;
	opacity: 1;
	filter: brightness(1);
}

input ~ span {
	position: absolute;
	pointer-events: none;
	left: 10px;
	top: 0px;
	transition: 0.2s ease all;
	background-color: var(--dark-color);
	filter: brightness(0.7);
}

/* Buttons */

button {
	transition: filter 0.2s, background-color 0.1s;
	border: 1px solid var(--main-color);
	border-radius: 0.4px;
	padding: 0.8em 2em;
	background-color: var(--main-color);
	color: var(--light-color);
	margin: 2rem 0.4rem;
}
button.outline {
	border: 1px solid var(--main-color);
	background-color: rgba(0, 0, 0, 0);
}
button.outline:hover {
	background-color: var(--main-color);
	transition: background-color 0.1s;
}

button.success,
button.success.outline:hover {
	background-color: var(--success);
	border: 1px solid var(--success);
	transition: background-color 0.1s;
}
button.success.outline {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid var(--success);
}

button.error,
button.error.outline:hover {
	background-color: var(--error);
	border: 1px solid var(--error);
	transition: background-color 0.1s;
}
button.error.outline {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid var(--error);
}

button.submit {
	padding: 0.8em 4em;
}

button:not(.outline):hover {
	transition: filter 0.2s;
	filter: grayscale(40%);
}

button:disabled {
	transition: filter 0.2s;
	filter: grayscale(100%);
	cursor: not-allowed;
}

button:hover {
	cursor: pointer;
}

/* Badges */

span.badge {
	display: inline;
	background-color: var(--main-color);
	border-radius: 4px;
	float: right;
	padding: 0.2em 0.4em;
	margin-right: 2em;
}

span.badge.error {
	background-color: var(--error);
	color: var(--light-color);
}

span.badge.success {
	background-color: var(--success);
}

span.badge.notice {
	background-color: var(--notice);
}

span.badge.warning {
	background-color: var(--warning);
}

span.badge.role {
	margin: -1.3em 0em;
	position: absolute;
}
